In [2]:
import pandas as pd
import numpy as np

In [5]:
country = pd.read_csv('country_subset.csv')

In [6]:
country

               Name Continent  Population
0       Afghanistan      Asia    22720000
1           Albania    Europe     3401200
2           Algeria    Africa    31471000
3    American Samoa   Oceania       68000
4           Andorra    Europe       78000
..              ...       ...         ...
234  Western Sahara    Africa      293000
235           Yemen      Asia    18112000
236      Yugoslavia    Europe    10640000
237          Zambia    Africa     9169000
238        Zimbabwe    Africa    11669000

[239 rows x 3 columns]

In [7]:
country.shape

(239, 3)

In [11]:
country.info()

country.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        239 non-null    object
 1   Continent   239 non-null    object
 2   Population  239 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.7+ KB

         Population
count  2.390000e+02
mean   2.543410e+07
std    1.093398e+08
min    0.000000e+00
25%    2.380000e+05
50%    3.869000e+06
75%    1.493550e+07
max    1.277558e+09

In [12]:
country.dtypes

Name          object
Continent     object
Population     int64
dtype: object

In [23]:
totals = country.groupby('Continent')['Population'].sum()
totals

Continent
Africa            784475000
Antarctica                0
Asia             3705025700
Europe            730074600
North America     482993000
Oceania            30401150
South America     345780000
Name: Population, dtype: int64

In [64]:
populus = country(Country[['Name', 'Continent', 'Population']]).where(country['Population'] > 100000000).sort_values(by='Population', ascending=False).head(10)
populus

NameError: name 'Country' is not defined

In [44]:
if populus is not None:
    print("Top 5 most populous countries:")
    print(populus)

Top 5 most populous countries:
              Name  Population
44           China  1277558000
99           India  1013662000
224  United States   278357000
100      Indonesia   212107000
29          Brazil   170115000

In [51]:
if populus is not None:
    print(populus[populus['Population > 100000000']][["Name", "Population"]])

KeyError: 'Population > 100000000'

In [48]:
country

               Name Continent  Population
0       Afghanistan      Asia    22720000
1           Albania    Europe     3401200
2           Algeria    Africa    31471000
3    American Samoa   Oceania       68000
4           Andorra    Europe       78000
..              ...       ...         ...
234  Western Sahara    Africa      293000
235           Yemen      Asia    18112000
236      Yugoslavia    Europe    10640000
237          Zambia    Africa     9169000
238        Zimbabwe    Africa    11669000

[239 rows x 3 columns]